* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-family: 'Roboto' ;
}
@font-face {
    font-family: 'Roboto';
    src: url(./Fonts/Roboto-Regular.ttf);
}

/* Name & Profession started */
.first-container {
    background-image: url(./Assets/Intro-Background.jfif);
    background-size: 100% 100%;
    height: 125vh;
}
.first-sub-container-a {
    padding-top: 100px;
}
.first-p{
    font-size: 5.50rem;
    margin-bottom: -20px;
}
.first-p > span{
    font-size: 2.5rem;
}
.first-p1{
    font-size: 6.5rem;
}
/* Name and Profession Ended */

/* Work Started */
.work-container {
    background-color: #161619;
    
}
.work-p {
    font-size: 7rem;
}
.work-p > span {   
    font-size: 15rem;
}
/* Work Ended */

/* Skills Started */
.skill-container {
    padding: 100px 0px;
    row-gap: 40px;
}
.skill-sub-container {
    min-width: 350px;
    flex-basis: 25%;
}
.skill-sub-container > :nth-child(2){
    padding: 65px 0px;
}
.skill-p {
    font-size: 1.25rem;
}
.skill-p1 {
    font-size: 1.25rem;
}
/* Skills Ended */


/* Contact / About Started */
.contact-container {
    border: 1px solid black;
}
.contact-sub-container-1{
    background-color: #515603;
    padding: 35px 115px 35px 95px;
    flex-basis: 50%;
}
.contact-sub-container-2{
    background-color: #722300;
    flex-basis: 50%;
    padding: 35px 115px 35px 95px;
}
.contact-p{
    font-size: 6.5rem;
}
.contact-p2{
    font-size: 1.35rem
}
/* Contact / About Ended */

@media (max-width: 1005px) {
    .contact-sub-container-1 {
        flex-basis: 100%;
    }
    .contact-sub-container-2 {
        flex-basis: 100%;
    }
}

@media (max-width: 775px) {
    html {
        font-size: 50%;
    }
    .first-container {
        background-image: url(./Assets/Intro-Background.jfif);
        background-size: 100% 100%;
        height: 95vh;
    }
    .first-p{
        text-align: center;
    }
    .skill-p {
        font-size: 1.55rem;
    }
    .skill-p1 {
        font-size: 1.55rem;
    }
    .contact-p{
        font-size: 8rem;
    }
    .contact-p2{
        font-size: 1.70rem
    }
}
@media (max-width: 620px) {
    html {
        font-size: 40%;
    }
    .first-container {
        background-image: url(./Assets/Intro-Background.jfif);
        background-size: 100% 100%;
        height: 80vh;
    }
    .first-p{
        text-align: center;
    }
    .skill-p {
        font-size: 2rem;
    }
    .skill-p1 {
        font-size: 2rem;
    }
    .skill-container {
        padding: 50px 0px;
    }
    .skill-sub-container {
        min-width: 350px;
        flex-basis: 25%;
    }
    .skill-sub-container > :nth-child(2){
        padding: 40px 0px;
    }
}
@media (max-width: 475px) {
    html {
        font-size: 35%;
    }
    .first-container {
        background-image: url(./Assets/Intro-Background.jfif);
        background-size: 100% 100%;
        height: 75vh;
    }
    .first-p{
        text-align: center;
    }
    .skill-p {
        font-size: 2rem;
    }
    .skill-p1 {
        font-size: 2rem;
    }
    .skill-container {
        padding: 50px 0px;
    }
    .skill-sub-container {
        min-width: 350px;
        flex-basis: 25%;
    }
    .skill-sub-container > :nth-child(2){
        padding: 40px 0px;
    }
}
@media (max-width: 375px){
    html {
        font-size: 30%;
    }
    .first-container {
        background-image: url(./Assets/Intro-Background.jfif);
        background-size: 100% 100%;
        height: 35vh;
    }
    .first-sub-container-a {
        padding-top: 10px;
    }
    .first-p{
        margin-bottom: -15px;
    }
    .skill-p {
        font-size: 2.30rem;
    }
    .skill-p1 {
        font-size: 2.30rem;
    }
    .skill-container {
        padding: 30px 0px;
    }
    .skill-sub-container {
        min-width: 300px;
        flex-basis: 25%;
    }
    .skill-sub-container > :nth-child(2){
        padding: 40px 0px;
    }
}